@attribute [Authorize]

<div class="modal fade" id="EditCompanyModal" tabindex="-1" role="dialog" aria-labelledby="EditCompanyModalTitel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            @if (CompanyModel != null)
            {
                <EditForm Model="CompanyModel" OnValidSubmit="OnValidSubmit_UpdateCompany">

                    <div class="modal-header">
                        <h5 class="modal-title" id="EditCompanyModalTitel">Virksommhedens Information :</h5>
                    </div>

                    @if (ShowError)
                    {
                        <MessageAlert Alert="MessageAlert.AlertType.Error" Message="@ErrorMessage" />
                    }

                <div class="modal-body">

                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="row">
                        <div class="col">
                            <label for="inputCompanyIdentity" class="admin-label col-form-label col-form-label-sm">Virksomhedens CVR : <span class="font-italic small" style="color: lightcoral;">*Ændring af CVR kan muligvis skabe problemer.</span></label>
                            <input id="inputCompanyIdentity" type="text" class="form-control form-control-sm" placeholder="Indtast CVR nr." @bind-value="CompanyModel.CVR" />
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col">
                            <label for="inputName" class="admin-label col-form-label col-form-label-sm">Virksomhedens Navn :</label>
                            <input id="inputName" type="text" class="form-control form-control-sm" placeholder="Indtast virksomhedens navn.." @bind="CompanyModel.Name" />
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col">
                            <label for="inputCompanyUrl" class="admin-label col-form-label col-form-label-sm">Link til Virksomhedens hjemmeside :</label>
                            <input id="inputCompanyUrl" type="text" class="form-control form-control-sm" placeholder="Indtast link til virksomhedens hjemmeside.." @bind-value="CompanyModel.URL" />
                        </div>
                    </div>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuller</button>
                        <button class="btn btn-info text-light cursor-pointer" type="submit" disabled="@IsProcessing">Gem ændringer</button>
                    </div>
                </EditForm>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public CompanyModel CompanyModel { get; set; }

    [Inject]
    protected DataService DataService { get; set; }

    [Inject]
    protected AdminService AdminService { get; set; }

    [Inject]
    protected IRefresh RefreshService { get; set; }

    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    private bool IsProcessing { get; set; } = false;
    private bool ShowError { get; set; } = false;

    private string ErrorMessage { get; set; } = string.Empty;

    private async void OnValidSubmit_UpdateCompany()
    {
        IsProcessing = true;

        await InvokeAsync(() =>
        {
            AdminService.UpdateCompany(CompanyModel);
        });

        IsProcessing = false;

        RefreshService.CallRefreshRequest();

        await JSRuntime.InvokeVoidAsync("modalToggle", "EditCompanyModal");
        await JSRuntime.InvokeVoidAsync("OnInformationChangeAnimation", $"{CompanyModel.Id}");
    }
}
