@page "/admin/account/change-password"

@*@attribute [Authorize(Roles = "Konsulent, System Administrator, Udvikler")]*@

<div class="page-content pt-2">

    <PageHeadingTitle DisplayTitle="Ændre Adgangskode" />

    <div class="form-group">
        <label for="fakeInputEmail" class="admin-label">Email Adresse :</label>
        <span id="fakeInputEmail" type="text" class="form-control form-control-sm" readonly>email</span>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="admin-label">Ny Adgangskode :</label>
        <input id="inputPassword" type="password" class="form-control form-control-sm" placeholder="Indtast adgangskode.." />
    </div>

    <div class="form-group">
        <label for="inputConfirmPassword" class="admin-label">Bekræft Adgangskode :</label>
        <input id="inputConfirmPassword" type="password" class="form-control form-control-sm" placeholder="Bekræft adgangskode.." />
    </div>

    <button type="submit" class="btn btn-sm btn-info float-right ml-auto mt-5">
        <span>Skift adgangskode</span>
    </button>

    <div id="myprofilepic"></div>
</div>
