@page "/admin"

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="admin-page-background">
            <h1 class="admin-page-text">Velkommen, @context.User.Identity.Name</h1>
        </div>
    </Authorized>
</AuthorizeView>