@attribute [Authorize]

<div class="modal fade" id="RemoveConfirmationSourceLinkModal" tabindex="-1" role="dialog" aria-labelledby="RemoveConfirmationLinkModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            @if (SourceLinkId != 0)
            {
                <div class="modal-header">
                    <h5 class="modal-title">Er du sikker på du vil slette dette link?</h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Annuller</button>
                    <button type="button" class="btn btn-danger" @onclick="@(id => OnConfirmation_RemoveSourceLink())" disabled="@IsProcessing">Slet Link</button>
                </div>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public int SourceLinkId { get; set; }

    [Inject]
    private AdminService AdminService { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject]
    private IRefresh RefreshService { get; set; }

    private bool IsProcessing { get; set; }
    private string MessageAlert { get; set; }

    private void OnConfirmation_RemoveSourceLink()
    {
        IsProcessing = true;

        InvokeAsync(async () =>
        {
            if (await AdminService.RemoveSourceLink(SourceLinkId))
            {
                MessageAlert = "Link successfuldt fjernet!";
            }
            else
            {
                MessageAlert = "Noget gik galt, prøv igen senere.";
            }

        });

        RefreshService.CallRefreshRequest();

        IsProcessing = false;
        MessageAlert = string.Empty;

        JS.InvokeVoidAsync("modalToggle", "RemoveConfirmationSourceLinkModal");
    }
}
