<section class="page-name">
    <div class="container-fluid">
        <h3>@(DisplayName) :</h3>
        <hr />
    </div>
</section>

@code {
    [Parameter]
    public string DisplayName { get; set; }
}
