@page "/{JobCategory}/detaljer/id/{JobId:int}"

@using JobAgent.Data
@using JobAgent.Services
@inject JobService JobService

<a class="card-link text-info" data-toggle="modal" data-target="#jobPostingDetail">Se Detailjer</a>

@* Job Detail Modal *@
<div class="modal fade jobPostingDetail" id="jobPostingDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="jobPostingDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobPostingDetailLabel">@jobPost.Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="card-subtitle">@jobPost.Title</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            @jobPost.Information
                        </p>
                    </div>

                    <div class="col-md-8">
                        <img src="@jobPost.ImageURL" class="img-thumbnail" />
                    </div>
                </div>
                <hr />
                <p>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tilbage</button>
                <button type="button" class="btn btn-info">Søg Job Opslag</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string JobCategory { get; set; }

    [Parameter]
    public int JobId { get; set; }

    JobPosting jobPost;

    protected override async Task OnInitializedAsync()
    {
        var jobPosts = await JobService.GetJobPostingsAsync(JobCategory);

        jobPost = (from job in jobPosts
                   where job.Id == JobId
                   select job).FirstOrDefault();
        Console.WriteLine(jobPost);
    }
}
