<BSButton Color="Color.Info" @onclick="@onToggleModal">Praktikekonsulenter</BSButton>

<BSModal @ref="VerticallyCentered" IsCentered="true" NoBackdrop="true" IgnoreClickOnBackdrop="true" IgnoreEscape="true">
    <BSModalHeader OnClick="onToggleModal">Praktikkonsulent Log Ind</BSModalHeader>
    <BSModalBody>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email Adresse</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Vi vil aldrig dele din email med andre.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Agangskode</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-info">Log ind</button>
        </form>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Danger" @onclick="@onToggleModal">Tilbage</BSButton>
    </BSModalFooter>
</BSModal>

@code {
    BSModal VerticallyCentered;

    public void onToggleModal(MouseEventArgs e)
    {
        VerticallyCentered.Toggle();
    }
}
