@page "/admin"


    <div class="admin-page-background">
        <h1 class="admin-page-text">Velkommen Hans Hansen</h1>
        @*<img class="admin-page-picture" src="assets/images/admin-fg.svg" alt="Admin Page" />*@
    </div>
