@page "/admin"


    <div class="page-background">
        <h1 class="page-text">Velkommen Hans Hansen</h1>
        <img class="page-picture" src="assets/images/admin-fg.svg" alt="Admin Page" />
    </div>
