@page "/admin"

<div class="container-fluid">
    <h1 class="text-center" style="position:absolute; text-align:center; margin:auto;">Velkommen Hans Hansen</h1>
</div>

@* LOL JESPER DU EN FUCKING TABER LOL CENTRER NU BARE DEN FUCKING TEKST DIN ABE LOLLOL DU DUM ALLIGEVEL *@

    <img src="assets/images/admin-bg.svg" height="auto" width="100%" alt="Admin Page" class="img-fluid"/>