@page "/"

<AuthorizeView>
    <Authorized>
        <AdminPageRedirect />
    </Authorized>
    <NotAuthorized>
        <div id="indexpage">
            <div id="indextext">
                <h1>STARTEN PÅ DIN REJSE</h1>
                <h6>
                    Din Job Agent er en side, der henter elev stillinger igennem nettet, ved brug af en Robot.
                    <br />Siden er styret og administreret af konsulenter på de forskellige afdelinger.
                </h6>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>