@page "/"

<AuthorizeView>
    <Authorized>
        <AdminPageRedirect />
    </Authorized>
    <NotAuthorized>
        <div id="indexpage"></div>

        <div id="justtext">
            <h1 style="color: black;">STARTEN PÅ DIN REJSE</h1>
            <div id="justtextline"></div>
            <h6>Din Job Agent er en side, der henter elev stillinger igennem nettet, ved brug af en Robot. SIden er styret og administreret af konsulenter på de forskellige afdelinger.</h6>
        </div>

    </NotAuthorized>
</AuthorizeView>