@page  "/job"

<div class="container-fluid pt-2">
    <div class="c-cards">
        <div class="c-card">
            <div class="c-card-content">
                <h2 class="c-card-title">lalala lalalalal alalalalal ala lala llal ala lalall alal la lalla lall ala lal</h2>
                <p class="c-card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, praesentium.</p>
                <a href="/job" class="c-button">Learn More</a>
            </div>
        </div>
    </div>
</div>

@code {

}
