<div class="menu-title mx-auto">
    <h4>Uddannelser</h4>
</div>

<div class="menu-search pb-3">
    ´<div class="input-group mx-auto px-3">
        <input class="form-control" type="text" placeholder="Søg Uddannelse..." aria-label="Søg Uddannelse" aria-describedby="search-addon">
        <span class="input-group-text" id="search-addon"><i class="fas fa-search menu-icons"></i></span>
    </div>
</div>

<div class="menu-categories py-2">
    <div class="px-3 py-1">
        <NavLink class="btn btn-outline-light btn-sm w-100 position-relative" href="/job">
            <span class="text-start float-start d-inline-block text-truncate align-middle">wudqwokidopasklcjxz</span>
            <span class="badge bg-purple-300 position-absolute top-50 end-0 translate-middle-y me-1">1</span>
        </NavLink>
    </div>
</div>


