@attribute [Authorize]

<div class="overflow-auto m-2" style="max-height: 150px;">
    <div class="d-flex flex-column align-items-start mb-1">
        <label>Navn:</label>
        <p>@_context.User.Identity.Name</p>
    </div>

    <div class="d-flex flex-column align-items-start mb-1">
        <label>Afdeling:</label>
        <p>@(_context.User.Claims.FirstOrDefault(x => x.Type == _locationClaimType) != null ? _context.User.Claims.FirstOrDefault(x => x.Type == _locationClaimType).Value : "Ikke indlæst")</p>
    </div>

    <div class="d-flex flex-column align-items-start mb-1">
        <label>Rolle:</label>
        <p>@(_context.User.Claims.FirstOrDefault(x => x.Type == _roleClaimType) != null ? _context.User.Claims.FirstOrDefault(x => x.Type == _roleClaimType).Value : "Ikke indlæst")</p>
    </div>

    <div class="d-flex flex-column align-items-start mb-1">
        <label>Konsulentområder:</label>
        @foreach (var claim in _context.User.Claims)
        {
            @if (claim.Type == _consultantAreaClaimType)
            {
                <p class="flex-fill">@claim.Value</p>
            }
        }
    </div>
</div>

<div class="float-end ms-auto mx-1">
    <button type="submit" class="btn btn-outline-light btn-sm" @onclick="(() => LogOut())">Log ud</button>
</div>
