:root {
    --clr-neutral-900: #432874;
    --clr-neutral-100: #e2d9f3;
    --clr-accent-400: #a98eda;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


#job-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    border-radius: 1rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

    .card:hover,
    .card:focus-within {
        transform: scale(1.05);
    }

.card-title {
    margin: 0 0 0.5em 0;
    position: relative;
    word-wrap: break-word;
    color: var(--primary-color);
    font-family: var(--ff-heading-text);
}

.card-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 5em;
}

.card-subtitle {
    font-family: var(--ff-placeholder-text);
    padding-bottom: 1em;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}
