@import url('web-fonts/neris/css/neris-webfont.css');
@import "custom-card.css";
@import "scrollbar.css";

:root {
    --ff-heading-text: nerisblack, Arial, sans-serif;
    --ff-small-text: nerislight, Arial, sans-serif;
    --ff-info-text: nerisblack, Aria, sans-serif;
    --ff-placeholder-text: nerissemibold_italic, Arial, sans-serif;
    --clr-valid: #A98EDA;
    --clr-invalid: #F3CD52;
    --primary-background-color: #432874;
    --primary-color: #F3F7FD;
    --border-radius: 0.5em;
}

html {
    font-size: 1em;
}

h1, h2, h3, h4 {
    color: var(--primary-color);
}

h1 {
    font-family: var(--ff-heading-text);
    font-size: 2.5rem;
}

h4 {
    position: relative;
    font-family: var(--ff-small-text);
    font-size: 1.75rem;
    text-decoration: none;
    text-align: center;
}

    h4::after {
        position: absolute;
        content: "";
        height: 0.10em;
        bottom: -0.30em;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 75%;
        border-radius: var(--border-radius);
        background: #a98eda;
    }

input::placeholder {
    font-family: var(--ff-placeholder-text);
    font-size: .85em;
    color: #a98eda !important;
    padding: .5em .5em;
}

a {
    font-size: 1.5rem !important;
    color: var(--primary-color) !important;
}

    a .menu-icons {
        width: 5em !important;
        height: auto;
        font-size: 2.5rem;
        transition: color ease 250ms;
    }

        a .menu-icons:hover,
        a .menu-icons.active {
            color: var(--primary-color);
        }

button {
    font-size: 1em !important;
    border-radius: var(--border-radius) !important;
    border-width: var(--border-width) !important;
    text-transform: uppercase !important;
}

svg {
    fill: var(--primary-color);
}

.bg-purple-300 {
    background: #A98EDA !important;
}

.menu-icons {
    color: #a98eda;
}

.logo {
    height: 3.25rem;
    margin-right: .75rem;
}

.navbar {
    background-color: var(--primary-background-color) !important;
}

.navbar-brand span {
    font-family: var(--ff-info-text);
    font-size: 1.75rem;
}

main.page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

div.main-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

    div.main-content > *:nth-child(1) {
        flex: 1 1 25%;
        min-width: 30ch;
    }

    div.main-content > *:nth-child(2) {
        flex: 1 1 75%;
        min-width: 15ch;
    }

    div.main-content .sidebar {
        background-color: var(--primary-background-color);
        overflow-y: auto;
        overflow-x: hidden;
    }

        div.main-content .sidebar .menu-categories span {
            max-width: 175px;
        }

        div.main-content .sidebar .menu-categories a {
            font-size: 1em !important;
        }

            div.main-content .sidebar .menu-categories a:hover,
            div.main-content .sidebar .menu-categories a.active {
                color: #A98EDA !important;
            }

    div.main-content .content {
        overflow-y: auto;
        overflow-x: hidden;
    }

img.cover-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: -moz-fit-content;
    width: fit-content;
}

.page-background {
    background-image: linear-gradient(hsl(247, 61%, 27%), hsl(247, 67%, 24%), hsl(248, 75%, 20%));
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page-picture {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-height: 50%;
}

.page-text {
    font-size: 2.5vw;
    margin-top: 2em;
    position: center;
    text-align: center;

}

#user-profile-dropdown {
    width: 300px;
}

    #user-profile-dropdown.dropdown-menu {
        background-color: var(--primary-background-color) !important;
        border-radius: var(--border-radius);
        min-height: 350px;
        max-height: 350px;
    }

    #user-profile-dropdown label {
        font-size: .65em;
        text-transform: uppercase;
        color: var(--primary-color);
    }

    #user-profile-dropdown input {
        border-radius: var(--border-radius);
    }

    #user-profile-dropdown button {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: none !important;
}

.valid {
    outline: none !important;
}

.validation-message {
    font-family: var(--ff-info-text);
    color: var(--clr-invalid);
    font-size: .75em;
    padding: .3em 0 0 .3em;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


@media screen and (max-width: 800px) {
    .page-picture {
        display:none;
    }

    .page-text {
        font-size: 4.5vw;
    }

}

