@import url('web-fonts/neris/css/neris-webfont.css');

:root {
    --primary-background-color: #432874;
    --primary-color: #F3F7FD;
    --border-radius: 0.5em;
    --border-width: 0.15em;
}

::placeholder {
    font-family: 'nerislight_italic', Arial, sans-serif;
    font-size: .85em;
}

html, body {
    margin: 0;
    padding: 0;
}

/*.page {
    width: 100vw;
    height: 100vh;
}*/

    .topbar {
        position: sticky !important;
    }

    .navbar {
        background-color: var(--primary-background-color) !important;
        z-index: 10;
    }
        .navbar-brand .logo {
            height: 50px;
            width: auto;
            margin-right: 0.75em;
            fill: var(--primary-color);
        }

        .navbar-brand span {
            font-family: 'nerisblack', Arial, sans-serif;            
            font-size: 1.35em;    
        }

    .sidebar {
        position: fixed;
        top: 75px;
        bottom: 0;
        left: 0;
        width: 300px;
        background-color: var(--primary-background-color);
        z-index: 9;
    }

    main {
        position: relative;
        width: 100%;
        padding-left: 300px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 8;
    }

#start-your-adventure {
    /*object-fit: contain;
  object-fit: scale-down;
  object-position: -10% 0;
  object-fit: none;
  object-fit: fill;*/
    /*min-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;*/
}

.dropdown-menu {
    background-color: var(--primary-background-color) !important;
    border-radius: var(--border-radius);
    min-height: 350px;
    max-height: 350px;
}

#user-profile-dropdown {
    width: 300px;
    background-color: black;
}

    #user-profile-dropdown label {
        font-size: .65em;
        text-transform: uppercase;
        color: var(--primary-color);
    }

    #user-profile-dropdown input {
        border-radius: 10px;
    }

    #user-profile-dropdown button {
        position: absolute;
        right: 1em;
        bottom: 1em;
        font-size: 1em;
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        text-transform: uppercase;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
