@if (!string.IsNullOrEmpty(ValidationMessage))
{
    <div class="container-fluid">
        <div class="alert alert-warning d-flex align-items-center small" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="assets/images/sprites.svg#exclamation-triangle-fill" /></svg>
            <div>
                @ValidationMessage
            </div>
        </div>
    </div>
}

<EditForm class="px-2 py-1" EditContext="_editContext" OnValidSubmit="OnValidSubmit_LogInAsync">
    <div class="mb-3">
        <label for="dropdownProfileEmail" class="form-label">Email address</label>
        <InputText @bind-Value="@_authenticationModel.Email" class="form-control" type="email" placeholder="email@example.com" />
        <ValidationMessage For="@(() => _authenticationModel.Email)" />
    </div>
    <div class="mb-3">
        <label for="dropdownProfilePassword" class="form-label">Password</label>
        <InputText @bind-Value="@_authenticationModel.Password" class="form-control" type="password" placeholder="Password" />
        <ValidationMessage For="@(() => _authenticationModel.Password)" />
    </div>
    <button type="submit" class="btn btn-outline-light btn-sm float-end">Log ind</button>
</EditForm>
