@inherits LayoutComponentBase

<header class="navbar navbar-dark sticky-top bg-purple flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        <svg class="d-none d-sm-none d-md-inline-block align-content-center pe-2" width="50px" height="30px" role="img" aria-label="Logo:">
            <use xlink:href="assets/images/sprites.svg#brand-logo" />
        </svg>
        Din Job Agent
    </a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="dropdown px-3 me-auto me-md-0 me-lg-0">
        <a href="#user-dropdown" id="userDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="menu-icons @_userProfileState" @onclick="OnClick_UserProfileIcon">
                <i class="far fa-user-circle"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-start dropdown-menu-sm-start dropdown-menu-md-end dropdown-menu-lg-end ms-3 ms-sm-3 me-md-3 me-lg-3" aria-labelledby="userDropdown">
            <AuthorizeView Context="authorizeContext">
                <Authorized>
                    <UserProfileComponent />
                </Authorized>
                <NotAuthorized>
                    <LoginComponent />
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>

    @*<ul class="nav navbar-nav px-3 me-auto me-md-0 me-lg-0 position-relative">
        <li class="nav-item dropdown">
            
        </li>
    </ul>*@
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-purple sidebar collapse">
            <div class="position-sticky pt-3">
                <SidebarMenu />
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>
</div>

@code {
    private string _userProfileState = string.Empty;

    private void OnClick_UserProfileIcon()
    {
        if (string.IsNullOrEmpty(_userProfileState))
        {
            _userProfileState = "active";
            return;
        }

        _userProfileState = string.Empty;
    }
}