@inherits LayoutComponentBase

<section class="page">
    <div class="sticky-top">
        <TopNavbar />
    </div>

    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        @Body
    </main>
</section>
