@inherits LayoutComponentBase

<main class="page">
    <div class="sticky-top">
        <NavbarComponent />
    </div>

    <div class="main-content">
        <div class="sidebar">
            <AuthorizeView>
                <Authorized>
                    <AdminSideMenuComponent />
                </Authorized>
                <NotAuthorized>
                    <JobSideMenuComponent />
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content">
                @Body
            @*<div class="container-fluid">
            </div>*@
        </div>
    </div>
</main>
