@inherits LayoutComponentBase

<main class="page">
    <div class="sticky-top">
        <TopNavbar />
    </div>

    <div class="main-content">
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="content">
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </div>
</main>
