<div class="menu-title">
    <h4>Uddannelser</h4>
</div>

<div class="menu-search">
    ´<div class="input-group">
        <input class="form-control" type="text" placeholder="Søg Uddannelse..." aria-label="Søg Uddannelse" aria-describedby="search-addon">
        <span class="input-group-text" id="search-addon"><i class="fas fa-search menu-icons"></i></span>
    </div>
</div>

<div class="menu-categories">

</div>

@code {
}
