<div class="menu-title mx-auto">
    <AuthorizeView>
        <Authorized>
            <h4>Kontrolpanel</h4>
        </Authorized>
        <NotAuthorized>
            <h4>Uddannelser</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

<AuthorizeView>
    <NotAuthorized>
        <div class="mx-3 py-3 tools">
            <div class="mx-auto my-3">
                <h5>Administrer</h5>
                <nav class="nav flex-column">
                    <NavLink class="nav-link text-truncate" href="/admin/settings/job/vacancies">
                        <span class="menu-icons pe-3"><i class="fas fa-clipboard-list"></i></span>
                        Stillingsopslag
                    </NavLink>
                    <NavLink class="nav-link text-truncate" href="/admin/settings/contracts">
                        <span class="menu-icons pe-3"><i class="fas fa-file-signature"></i></span>
                        Kontrakter
                    </NavLink>
                    <NavLink class="nav-link text-truncate" href="/admin/settings/companies">
                        <span class="menu-icons pe-3"><i class="fas fa-building"></i></span>
                        Virksomheder
                    </NavLink>
                    <NavLink class="nav-link text-truncate" href="/admin/settings/createuser">
                        <span class="menu-icons pe-3"><i class="fas fa-user-plus"></i></span>
                        Opret Praktikkonsulent
                    </NavLink>
                </nav>
            </div>
            <div class="mx-auto">
                <h5>Bruger Indstillinger</h5>
                <nav class="nav flex-column">
                    <NavLink class="nav-link text-truncate" href="/admin//account/my/profile">
                        <span class="menu-icons pe-3"><i class="fas fa-user-cog"></i></span>
                        Min Bruger
                    </NavLink>
                    <NavLink class="nav-link text-truncate" href="/admin//account/my/changepassowrd">
                        <span class="menu-icons pe-3"><i class="fas fa-user-lock"></i></span>
                        Ændre Adgangskode
                    </NavLink>
                </nav>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="menu-search pb-3">
            ´<div class="input-group mx-auto px-3">
                <input class="form-control" type="text" placeholder="Søg Uddannelse..." aria-label="Søg Uddannelse" aria-describedby="search-addon">
                <span class="input-group-text" id="search-addon"><i class="fas fa-search menu-icons"></i></span>
            </div>
        </div>
        <div class="menu-categories py-2">
            <div class="px-3 py-1">
                <NavLink class="btn btn-outline-light btn-sm w-100 position-relative" href="/job">
                    <span class="text-start float-start d-inline-block text-truncate align-middle">wudqwokidopasklcjxz</span>
                    <span class="badge bg-purple-300 position-absolute top-50 end-0 translate-middle-y me-1">1</span>
                </NavLink>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
