<div class="pb-3">
    <AuthorizeView>
        <Authorized>
            <h4>Kontrolpanel</h4>
        </Authorized>
        <NotAuthorized>
            <h4>Uddannelser</h4>
        </NotAuthorized>
    </AuthorizeView>
</div>

<AuthorizeView>
    <NotAuthorized>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-light">
            <span>Administrer</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/settings/job/vacancies">
                    <span><i class="fas fa-clipboard-list"></i></span>
                    Stillingsopslag
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/settings/contracts">
                    <span><i class="fas fa-file-signature"></i></span>
                    Kontrakter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/settings/companies">
                    <span><i class="fas fa-building"></i></span>
                    Virksomheder
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/settings/createuser">
                    <span><i class="fas fa-user-plus"></i></span>
                    Opret Praktikkonsulent
                </NavLink>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-light">
            <span>Bruger Indstillinger</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/account/my/profile">
                    <span><i class="fas fa-user-cog"></i></span>
                    Min Bruger
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin/account/my/changepassword">
                    <span><i class="fas fa-user-lock"></i></span>
                    Ændre Adgangskode
                </NavLink>
            </li>
        </ul>
    </NotAuthorized>
    <Authorized>
        <div class="input-group px-1">
            <input class="form-control" type="text" placeholder="Søg Uddannelse..." aria-label="Søg Uddannelse" aria-describedby="search-addon">
            <span class="input-group-text" id="search-addon"><i class="fas fa-search menu-icons"></i></span>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/job">
                    <span class="me-auto">wudqwokidopasklcjxz</span>
                    <span class="badge bg-purple-300">1</span>
                </NavLink>
            </li>
        </ul>
    </Authorized>
</AuthorizeView>
