@page "/"

@using System.Security.Claims
@using JobAgent.Services
@using JobAgent.Models
@using JobAgent.Components.Redirect 

@inject SecurityService SecurityService
@inject IJSRuntime JSRunTime

<style>
    article {
        display: block;
        text-align: left;
        margin: 0 auto;
    }

        article a {
            color: #dc8100;
            text-decoration: none;
        }

            article a:hover {
                color: #333;
                text-decoration: none;
            }
</style>

@if (IsUserAuthenticated)
{
    <RedirectToAdminComponent />
}
else
{
    <article class="text-wrap">
        <h1>Job Agenten er under udvikling!</h1>
        <div>
            <p>
                Beklager ulejliheden, men vi udfører stadig operationer på hjemmesiden. Der er stadig mangel på funktionalitet,
                hvis du har brug for det, kan du altid
                <a href="#">Kontakte Os</a>.
                Hjemmesiden opdateres regelmæssigt.
            </p>
            <p>&mdash; The Team</p>
        </div>
    </article>
}

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationState).User;

        if (user.Identity.IsAuthenticated) IsUserAuthenticated = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.FromResult(PageMetaModel.Instance.Title = "Under udvikling");
    }
} 