@page "/"

@using JobAgent.Components.Redirect

<style>
    article {
        display: block;
        text-align: left;
        margin: 0 auto;
    }

        article a {
            color: #dc8100;
            text-decoration: none;
        }

            article a:hover {
                color: #333;
                text-decoration: none;
            }
</style>

<AuthorizeView>
        <Authorized>
            <RedirectToAdminComponent />
        </Authorized>
        <NotAuthorized>
            <article class="text-wrap">
                <h1>Job Agenten er under udvikling!</h1>
                <div>
                    <p>
                        Beklager ulejliheden, men vi udfører stadig operationer på hjemmesiden. Der er stadig mangel på funktionalitet,
                        hvis du har brug for det, kan du altid
                        <a href="mailto:nico9551@zbc.dk?bcc=tobi3686@zbc.dk;mich612i@zbc.dk;chri45i4@zbc.dk&subject=Job%20Agent%20Feedback&body=Goddag.">Kontakte Os</a>.
                        Hjemmesiden opdateres regelmæssigt.
                    </p>
                    <p>&mdash; The Team</p>
                </div>
            </article>
        </NotAuthorized>
    </AuthorizeView>

@code {

} 