@page "/"

@using JobAgent.Services

@inject SecurityService SecurityService


<style>
    article {
        display: block;
        text-align: left;
        margin: 0 auto;
    }

        article a {
            color: #dc8100;
            text-decoration: none;
        }

            article a:hover {
                color: #333;
                text-decoration: none;
            }
</style>

<article class="text-wrap">
    <h1>Hjemmeside er under udvikling!</h1>
    <div>
        <p>
            Beklager ulejliheden, men vi udfører stadig operationer på hjemmesiden. Der er stadig mangel på funktionalitet,
            hvis du har brug for det, kan du altid
            <a href="mailto:#">Kontakte Os</a>.
            Hjemmesiden opdateres regelmæssigt.
        </p>
        <p>&mdash; The Team</p>

        <div class="d-inline-block">
            <button class="btn btn-primary btn-sm" @onclick="GetSaltAsync">Generate Salt</button>
            <p>User Salt : @Salt </p>
        </div>

        <div class="d-block">
            <input type="password" @bind="Password"/>
            <button class="btn btn-primary btn-sm" @onclick="GetHashedPasswordAsync">Hash Password</button>
            <p>Password : @Password </p>
            <p>Hashed Pass : @HashedPassword </p>
        </div>
    </div>
</article>

@code {
    public string Salt { get; set; }
    public string Password { get; set; }
    public string HashedPassword { get; set; }

    public async Task GetSaltAsync()
    {
        Salt = await SecurityService.GetNewSaltAsync();
    }

    public async Task GetHashedPasswordAsync()
    {
        HashedPassword = await SecurityService.HashPasswordAsync(Password, Salt);
    }
} 