@page "/"

<style>
    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

        article a {
            color: #dc8100;
            text-decoration: none;
        }

            article a:hover {
                color: #333;
                text-decoration: none;
            }
</style>

<article>
    <h1>Hjemmeside er under udvikling!</h1>
    <div>
        <p>
            Beklager ulejliheden, men vi udfører stadig operationer på hjemmesiden. Der er stadig mangel på funktionalitet,
            hvis du har brug for det, kan du altid
            <a href="mailto:#">Kontakte Os</a>.
            Hjemmesiden opdateres regelmæssigt.
        </p>
        <p>&mdash; The Team</p>
    </div>
</article> 