@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<div class="sidebar overflow-auto">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <AuthorizeView>
            <Authorized>
                <h3>Hello, @context.User.Identity.Name!</h3>
                <span>Is Authenticated : @context.User.Identity.IsAuthenticated</span>

                <div class="float-right ml-auto">
                    <button type="button" class="btn btn-dark btn-sm">Log ud</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <JobAgent.Components.LogInComponent></JobAgent.Components.LogInComponent>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        <JobAgent.Components.ToastNotificationComponent></JobAgent.Components.ToastNotificationComponent>

        @Body
    </div>    
</div>
