@using System.Security.Claims 
@using JobAgent.Data 

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar overflow-auto">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <AuthorizeView>
            <Authorized>
                <h3>Velkommen, @context.User.Identity.Name!</h3>

                <div class="float-right ml-auto">
                    <button type="button" class="btn btn-danger btn-sm" @onclick="(() => LogOut())">Log ud</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-info btn-sm" type="button" href="/login">Praktikkonsulent Log ind</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        <JobAgent.Components.ToastNotificationComponent></JobAgent.Components.ToastNotificationComponent>

        @Body
    </div>
</div>

@code {
    public async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("");
    }
}