@using JobAgent.Components

@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 shadow p-3 bg-white rounded">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#adminLogin">
            Praktik Konsulenter
        </button>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <LogInComponent></LogInComponent>
</div>
