@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<div class="sidebar overflow-auto">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <JobAgent.Components.LogInComponent></JobAgent.Components.LogInComponent>
    </div>

    <div class="content px-4">
        @Body
    </div>    
</div>

@code {
    //private bool isServerSide = false;
    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        await BootstrapCss.SetBootstrapCss("4.3.1");
    //    }
    //    catch (Exception)
    //    {
    //        isServerSide = true;
    //    }
    //}

    //protected override async Task OnAfterRenderAsync(bool firstRun)
    //{
    //    if (isServerSide && firstRun)
    //    {
    //        await BootstrapCss.SetBootstrapCss("4.3.1");
    //    }
    //}    
} 
